.animatedText {
    opacity: 0;
    animation: fadeInOut 4s infinite; /* Durasi diperpanjang menjadi 4 detik */
  }
  
  @keyframes fadeInOut {
    0% { opacity: 0; }
    25% { opacity: 1; } /* Fade in lebih cepat */
    75% { opacity: 1; } /* Tahan sebentar di opacity 1 */
    100% { opacity: 0; } /* Fade out */
  }